*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(img/BG.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 55px;
    margin-right: 25px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
@font-face {
    src: url(font/MTD\ Loveya\ Script.otf);
    font-family: Loveya Script;
}
.hero{
    max-width: 1600px;
    margin: auto;
}
.slogan{
    font-size: 65px;
    text-align: center;
    font-family: Loveya Script;
    color:#fff;
    margin-top: 30px;
    margin-bottom: ;
}
.tour{
    font-size: 2.3cm;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    color:#fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bienca{
    display: block;
    text-align: center;
}
@font-face {
    font-family: Avenir;
    src: url(font/AppleSDGothicNeo-Thin.otf);
}
.tt{
    font-size: 16pt;
    color: black;
    font-family: 'Darker Grotesque', sans-serif;;
    font-weight: lighter;
    float: left;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 350px
}
.gt{
    font-size: 20pt;
    color: rgb(30, 65, 129);
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    margin-right: 350px
}
.nt{
    font-family: 'Quicksand', sans-serif;
    color: #000;
    text-align: justify;
    font-size: 13pt;
    font-weight: lighter;
    margin-top: 20px;
    margin-right: 350px
}
.db{
    font-size: 20pt;
    color: rgb(30, 65, 129);
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    margin-right: 350px
}
.nk{
    font-family: 'Quicksand', sans-serif;
    color: #000;
    text-align: justify;
    font-size: 13pt;
    font-weight: lighter;
    margin-top: 20px;
    margin-right: 350px
}
.hh img{
    margin-top: 20px;
    text-align: center;
    width: 800px;
    height: auto;
    margin-right: 350px
}
.lt{
    font-size: 20pt;
    color: rgb(30, 65, 129);
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    margin-right: 350px
}
.dm{
    font-family: 'Quicksand', sans-serif;
    color: #000;
    text-align: justify;
    font-size: 15pt;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 350px
}
.ny{
    font-family: 'Quicksand', sans-serif;
    color: #000;
    text-align: justify;
    font-size: 13pt;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 350px
}
.ha img{
    margin-top: 20px;
    text-align: center;
    width: 780px;
    height: auto;
    margin-right: 350px
    margin-left: 0px;
    margin-bottom: 20px;
}
.k{
    font-size: 20pt;
    color: rgb(30, 65, 129);
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin-top: 20px;
}
.v{
    font-family: 'Quicksand', sans-serif;
    color: #000;
    text-align: justify;
    font-size: 15pt;
    margin-top: 20px;
    margin-left: 20px;
}
.nu{
    font-family: 'Quicksand', sans-serif;
    color: #000;
    text-align: justify;
    font-size: 13pt;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 20px;
}